@font-face {
	font-family: 'fontello';
	src: url('../webfonts/fontello/fontello.eot'),
	url('../webfonts/fontello/fontello.eot') format('embedded-opentype'),
	url('../webfonts/fontello/fontello.woff2') format('woff2'),
	url('../webfonts/fontello/fontello.woff') format('woff'),
	url('../webfonts/fontello/fontello.ttf') format('truetype'),
	url('../webfonts/fontello/fontello.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
$icons-fontello: (
	mail: "\e800",
	search: "\e801",
	music: "\e802",
	heart: "\e803",
	heart-empty: "\e804",
	user: "\e805",
	download: "\e806",
	upload: "\e807",
	info-circled: "\e808",
	help-circled: "\e809",
	camera-alt: "\e80a",
	camera: "\e80b",
	picture: "\e80c",
	video: "\e80d",
	ok: "\e80e",
	ok-circled: "\e80f",
	ok-circled2: "\e810",
	cancel: "\e811",
	cancel-circled: "\e812",
	cancel-circled2: "\e813",
	plus: "\e814",
	plus-circled: "\e815",
	minus: "\e816",
	minus-circled: "\e817",
	link: "\e818",
	lock: "\e819",
	tags: "\e81a",
	bookmark: "\e81b",
	tag: "\e81c",
	eye: "\e81d",
	eye-off: "\e81e",
	pencil: "\e81f",
	edit: "\e820",
	trash-empty: "\e821",
	comment: "\e822",
	chat: "\e823",
	print: "\e824",
	phone: "\e825",
	basket: "\e826",
	calendar: "\e827",
	cog: "\e828",
	wrench: "\e829",
	login: "\e82a",
	logout: "\e82b",
	down-circled2: "\e82c",
	up-circled2: "\e82d",
	down-dir: "\e82e",
	up-dir: "\e82f",
	left-dir: "\e830",
	right-dir: "\e831",
	spin3: "\e832",
	down-open: "\e833",
	spin4: "\e834",
	left-open: "\e835",
	right-open: "\e836",
	up-open: "\e837",
	spin5: "\e838",
	spin6: "\e839",
	down-big: "\e83a",
	left-big: "\e83b",
	right-big: "\e83c",
	up-big: "\e83d",
	location: "\e83e",
	attention: "\e83f",
	firefox: "\e840",
	chrome: "\e841",
	opera: "\e842",
	ie: "\e843",
	crown: "\e844",
	crown-plus: "\e845",
	crown-minus: "\e846",
	attention-circled: "\e847",
	thumbs-up: "\e848",
	thumbs-down: "\e849",
	globe: "\e84a",
	to-start-alt: "\e84b",
	fast-fw: "\e84c",
	fast-bw: "\e84d",
	eject: "\e84e",
	stop: "\e84f",
	pause: "\e850",
	to-end: "\e851",
	to-end-alt: "\e852",
	to-start: "\e853",
	play: "\e854",
	play-circled2: "\e855",
	signal: "\e856",
	align-left: "\e857",
	align-center: "\e858",
	align-right: "\e859",
	align-justify: "\e85a",
	list: "\e85b",
	credit-card: "\e85c",
	check: "\e85d",
	truck: "\e85e",
	zoom-in-outline: "\e85f",
	zoom-in: "\e860",
	zoom-out-outline: "\e861",
	zoom-out: "\e862",
	search-outline: "\e863",
	search-1: "\e864",
	videocam-outline: "\e865",
	videocam: "\e866",
	picture-outline: "\e867",
	picture-1: "\e868",
	camera-outline: "\e869",
	camera-1: "\e86a",
	basket-1: "\e86b",
	left-open-outline: "\e86c",
	left-open-1: "\e86d",
	right-open-outline: "\e86e",
	right-open-1: "\e86f",
	desktop: "\e870",
	laptop: "\e871",
	tablet: "\e872",
	mobile: "\e873",
	rain: "\e874",
	cloud-sun: "\e875",
	drizzle: "\e876",
	snow: "\e877",
	cloud-flash: "\e878",
	cloud-wind: "\e879",
	check-empty: "\f096",
	bookmark-empty: "\f097",
	phone-squared: "\f098",
	twitter: "\f099",
	facebook: "\f09a",
	rss: "\f09e",
	left-circled: "\f0a8",
	right-circled: "\f0a9",
	up-circled: "\f0aa",
	down-circled: "\f0ab",
	menu: "\f0c9",
	list-bullet: "\f0ca",
	list-numbered: "\f0cb",
	pinterest-circled: "\f0d2",
	pinterest-squared: "\f0d3",
	money: "\f0d6",
	mail-alt: "\f0e0",
	comment-empty: "\f0e5",
	download-cloud: "\f0ed",
	upload-cloud: "\f0ee",
	plus-squared: "\f0fe",
	angle-double-left: "\f100",
	angle-double-right: "\f101",
	angle-double-up: "\f102",
	angle-double-down: "\f103",
	angle-left: "\f104",
	angle-right: "\f105",
	angle-up: "\f106",
	angle-down: "\f107",
	direction: "\f124",
	unlink: "\f127",
	help: "\f128",
	info: "\f129",
	attention-alt: "\f12a",
	angle-circled-left: "\f137",
	angle-circled-right: "\f138",
	angle-circled-up: "\f139",
	angle-circled-down: "\f13a",
	lock-open-alt: "\f13e",
	rss-squared: "\f143",
	play-circled: "\f144",
	minus-squared: "\f146",
	minus-squared-alt: "\f147",
	ok-squared: "\f14a",
	pencil-squared: "\f14b",
	expand: "\f150",
	collapse: "\f151",
	expand-right: "\f152",
	euro: "\f153",
	pound: "\f154",
	dollar: "\f155",
	yen: "\f157",
	won: "\f159",
	sort-alt-up: "\f160",
	sort-alt-down: "\f161",
	thumbs-up-alt: "\f164",
	thumbs-down-alt: "\f165",
	youtube-squared: "\f166",
	youtube: "\f167",
	xing: "\f168",
	xing-squared: "\f169",
	youtube-play: "\f16a",
	apple: "\f179",
	windows: "\f17a",
	android: "\f17b",
	vkontakte: "\f189",
	weibo: "\f18a",
	right-circled2: "\f18e",
	left-circled2: "\f190",
	collapse-left: "\f191",
	vimeo-squared: "\f194",
	plus-squared-alt: "\f196",
	mail-squared: "\f199",
	wordpress: "\f19a",
	yahoo: "\f19e",
	fax: "\f1ac",
	cab: "\f1b9",
	taxi: "\f1ba",
	file-pdf: "\f1c1",
	file-word: "\f1c2",
	file-excel: "\f1c3",
	file-powerpoint: "\f1c4",
	vine: "\f1ca",
	qq: "\f1d6",
	wechat: "\f1d7",
	yelp: "\f1e9",
	wifi: "\f1eb",
	cc-visa: "\f1f0",
	cc-mastercard: "\f1f1",
	cc-discover: "\f1f2",
	cc-amex: "\f1f3",
	cc-paypal: "\f1f4",
	cc-stripe: "\f1f5",
	trash: "\f1f8",
	toggle-off: "\f204",
	toggle-on: "\f205",
	bicycle: "\f206",
	bus: "\f207",
	cart-plus: "\f217",
	cart-arrow-down: "\f218",
	motorcycle: "\f21c",
	venus: "\f221",
	mars: "\f222",
	facebook-official: "\f230",
	pinterest: "\f231",
	whatsapp: "\f232",
	user-plus: "\f234",
	battery-4: "\f240",
	battery-3: "\f241",
	battery-2: "\f242",
	battery-1: "\f243",
	battery-0: "\f244",
	mouse-pointer: "\f245",
	trademark: "\f25c",
	registered: "\f25d",
	creative-commons: "\f25e",
	wikipedia-w: "\f266",
	safari: "\f267",
	chrome-1: "\f268",
	firefox-1: "\f269",
	opera-1: "\f26a",
	internet-explorer: "\f26b",
	television: "\f26c",
	calendar-plus-o: "\f271",
	calendar-minus-o: "\f272",
	calendar-times-o: "\f273",
	calendar-check-o: "\f274",
	commenting-o: "\f27b",
	vimeo: "\f27d",
	edge: "\f282",
	credit-card-alt: "\f283",
	address-card: "\f2bb",
	address-card-o: "\f2bc",
	user-circle: "\f2bd",
	user-circle-o: "\f2be",
	user-o: "\f2c0",
	twitter-squared: "\f304",
	vimeo-1: "\f306",
	vimeo-circled: "\f307",
	facebook-squared: "\f308",
	twitter-1: "\f309",
	twitter-circled: "\f30a",
	linkedin: "\f318",
	linkedin-circled: "\f319",
	dribbble: "\f31b",
	dribbble-circled: "\f31c",
	instagram: "\f32d",
	skype: "\f339",
	skype-circled: "\f33a",
);

[class^="icon-"]:before,
[class*="icon-"]:before {
	font-family: "fontello";
	font-size: size(1.75);
	font-style: normal;
	font-weight: normal;
	speak: never;
	display: inline-block;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@each $name, $glyph in $icons-fontello {
	[class="icon-#{$name}"]:before {
		content: map-get($icons-fontello, $name);
	}
}